.nested-fields.clearfix
	%p= f.input :name, label: "Hotel Name", input_html: {class: "form-control"}
	%p= f.input :address, label: "Address", input_html: {class: "form-control"}
	%p= f.input :add_notes, label: "Extra Notes", input_html: {class: "form-control"}
	= link_to_remove_association "Remove", f, class: "btn btn-sm btn-danger"
	