.nested-fields
	%p= f.input :name, label: "Hotel Name", input_html: {class: "form-control"}
	%p= f.input :address, label: "Address", input_html: {class: "form-control"}
	%br
	%p= link_to_remove_association "remove task", f, class: "btn btn-md btn-danger"
