.row.index
	.col-md-4.index-col-left
		= link_to "Add New Itinerary", new_destination_path, class: "btn btn-md btn-primary"
	.col-md-8
		- @destinations.each do |destination|
			.listing
				%h1.title
					= link_to destination.name, destination_path(destination)

				= link_to "Remove", destination_path(destination), method: :delete, data: { confirm: "are you sure?" }, class: "btn btn-xs btn-success"
