/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
	margin-bottom: 300px;
}

#map { 
	height: 400px;
	width: 100%;
	margin-top: 30px;
 }

.nested-fields {
}

.destination {
	display: inline-block;
}
.destination-details, .map-details {
	border-bottom: 1px solid black;
	margin-top: 30px;
}

.v-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.location-details {
	height: 170px;
}

.navbar-fixed-bottom {
	margin-top: 100px;
}

.btn {
	font-weight: bold;
}

.btn-sm {
	display: inherit;
}

.btn-primary {
	margin-top: 20px;
}

.btn-danger {
	margin-bottom: 5px;
}

.cancel {
	display: inline-block;
}

input[type="submit"] {
	float:left;
	margin-right: 10px;
}

.remove_btn {
	float: left;
	display: inline;
	padding-right: 15px;
}

.clearfix {
	clear: left;
}

.err {
	color: red;
	font-weight: bold;
}

.error {
	font-weight: bold;
	color: red;
}

.errors {
	background-color: #FFE7E7;
	padding: 20px;
	border-radius: 5px;
}

.alert {
	margin-top: 10px;
}
.alert-success {
	font-weight: bold;
}

label {
	display: block;
}

.form {
	background-color: rgb(223, 223, 255);
	padding: 20px 100px;
}

.navbar-default {
	margin-bottom: 0;
}