/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Lemon);

$light-red: rgb(250, 130, 130);
$light-green: rgb(173, 253, 177);
$dark-green: #5EC863;
$light-blue: #c3d3ff;
$dark-blue: #8BA2E0;
$cyan: #5EC8B0;
$dark-cyan: #379882;
$dark-red: #E25050;
$border-grey: 1px solid rgb(224, 224, 224);


body {
	margin-bottom: 300px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: 'Italianno', cursive;
	font-weight: 100;
	color: $light-red;
}

p, .nav-links {
	font-family: 'PT Sans', sans-serif;
}

a {
	color: $light-red;
}

a:hover {
	text-decoration: none;
	color: $dark-red;
}

.index {
	margin-top: 50px;
	.col-md-4.index-col-left {
		text-align: center;
	}
	.listing {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: $border-grey;
	}
	.title {
		font-size: 70px;
	}
}
/********** SHOW PAGE***********/

.locations {
	border-left: $border-grey;
}

.location-details {
	height: 240px;
	h2 {
		font-size: 40px; 
	}
}

.hotel {
	padding-left: 0;
	h2 { 
		font-size: 40px;
		text-align: center;
	}
}

.description {
	background-color: $light-green;
	padding: 10px;
	font-weight: bold;
}

.visit {
	color: $dark-green;
	font-weight: bold;
	display: inline;
}

.sub-visit {
	color: $cyan;
	display: inline;
	font-size: 14px;
	font-family: 'Lemon', cursive;
}


/******EDIT*****/


.heading-form {
		font-size: 70px;
		border-bottom: $border-grey;
		margin-bottom: 10px;
		background-color: white;
		padding-top: 60px;
	}

.simple-form {
	background-color: white;
}

#map { 
	height: 400px;
	width: 100%;
	margin-top: 30px;
 }

.nested-fields {
}

.heading {
	display: inline;
	font-size: 70px;
}

.sub-heading {
	display: inline;
	color: $cyan;
}
.destination-details, .map-details {
	border-bottom: $border-grey;
	margin-top: 30px;
	margin-bottom: 15px;
	color: $light-red;

}

.v-align {
	position: relative;
	margin-left: 20px;
	top: 50%;
	transform: translateY(-50%);
}



.navbar-fixed-bottom {
	margin-top: 100px;
}

.btn {
	font-weight: bold;
}

.btn-sm {
	display: inherit;
}

.btn-primary {
	margin-top: 20px;
	background-color: $light-blue;
	border: none;
}

.btn-primary:hover {
	margin-top: 20px;
	background-color: $dark-blue;
	border: none;
}

.btn-danger {
	margin-bottom: 5px;
}

.btn-success {
	background-color: $cyan;
	border: none;
}

.btn-success:hover {
	background-color: $dark-cyan;
	border: none;
}
.show-itinerary {
	display: inline;
}

.cancel {
	display: inline-block;
}

input[type="submit"] {
	float:left;
	margin-right: 10px;
}

.remove_btn {
	float: left;
	display: inline;
	padding-right: 15px;
}

.clearfix {
	clear: left;
}

.err {
	color: red;
	font-weight: bold;
}

.error {
	font-weight: bold;
	color: red;
}

.errors {
	background-color: #FFE7E7;
	padding: 20px;
	border-radius: 5px;
}

.alert {
	margin-top: 10px;
}
.alert-success {
	font-weight: bold;
}

label {
	display: block;
}

.navbar-default {
	margin-bottom: 0;
}