%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_url}
        = image_tag("flyby.png", :style => "height: 30px;" )
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
        
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#", :class => "nav-links"} About
        %li
          %a{:href => "#", :class => "nav-links"} Contact
        %li
          %a{:href => "#", :class => "nav-links"} FAQ
        %li
          %a{:href => "#", :class => "nav-links"} Travel Tips
        
    / /.navbar-collapse
  / /.container-fluid